body {
    font-family: "Oxygen", sans-serif;
}

.tooltip {
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100px;
    background-color: rgb(255, 246, 234);
}